#map {
  height: 500px;
  width: 80%;
  margin: auto;
 }

#timings{
  margin-top: 5em;
}

#timings p, #location p{
  margin-bottom: 10px;
}

#timingsTable table{
 margin: auto;
 margin-top: 10px
 width: 80%;
}

#timingsTable td{
  padding: 5px 10px;
  width: 20vw;
}

.bottomBorder{
  border-bottom: 0.5px solid #777777 !important;
}
#tableHeading {
    /* background-image: -webkit-linear-gradient(0deg, #2380ff 0%, #52fdd9 100%);
    color: white; */
    font-size: 1.2em;
    font-weight: bold;
}

.img-fluid{
  /* position: fixed; */
  width: 100vw;
}

#img-banner{
  width: 100vw;
  border: 2px solid red;
  position: absolute;
  z-index: -1;
}
#iconImage{
  width: 200px;
}
.booking-form{
  width: 90%;
}
.bold{
  font-weight: bold;
  display: inline;
}
.banner-area{
  background: url("/img/header-img.png") no-repeat;
  background-position: 80%;
  background-size:contain;
  height: 100vh;
}
.banner-content{
  flex: 0 0 50%;
  max-width: 40%;
  position: absolute;
  left: 20%;
}

@media (max-width: 991px) and (min-width:769px) {
  .banner-content {
      left: 10%!important;
      max-width: 40%!important;
      text-align: left;
  }
}
@media (max-width: 1599px) and (min-width:768px) {
  .banner-content {
      left: 10%!important;
      max-width: 35%!important;
      text-align: left;
  }
}
.about-right{
  height: 100% !important;
  background: #222;
  padding: 10% 5%;
}
.about-area{
  padding: 0;
  background: url("../img/about-img.jpg") no-repeat;
  background-size: 50%;
  background-size: cover;
}
.booking-form{
  width: 100%;
}
.alert-msg{
}
#blogs{
  background: #222;
  position: relative;
  padding-bottom: 10%;
}

#blogs h1{
  color: white;
}

#blogs p{
  color:white;
}

#blogs .single-blog{
  color: white;
}
#blogs .single-blog a{
  color: white;
}
#blogs .single-blog .bottom{
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.footer-area{
  border-top: solid white 1px;
}
.coverLoad{
  height: 100%;
  width: 100%;
  background: url("../img/Loading.gif") center center no-repeat;
  background-color: #222;
  position: absolute;
  top: 0;
}
.coverLoad img{
  width: 50%;
}

#home a{
  text-align: left;
  line-height: inherit;
  padding-top: 5%;
  padding-bottom: 5%;
}
.datepicker{
  background-color: #222;
  color: white;
}
